<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="appName" source="spring.application.name" />
    <springProperty name="profiles" source="spring.profiles.active" defaultValue="default" />

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>127.0.0.1:5000</destination>
        <reconnectionDelay>1 second</reconnectionDelay>
        <keepAliveDuration>5 minutes</keepAliveDuration>

        <!-- encoder is required -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timeZone>UTC</timeZone>
            <customFields>
                { "service": "${appName}", "instance": "customerorder", "profile": "${profiles}"}
            </customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="stash" />
        <appender-ref ref="consoleAppender" />
    </root>
</configuration>